:root {
  --green: #8aff78;
  --dark-green: #117e00;
  --light-green: #e0ffd9;
  --red: #c73c3c;
  --white: #fbfbfb;
}

.success {
  color: var(--dark-green);
}
.error {
  color: var(--red);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  margin: 0;
  padding: 0;

  background: var(--green);
  background: linear-gradient(335deg, var(--green) 0%, #d0edca 51%, #fff 100%);
}

#app {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.component {
  border-radius: 1rem;
}

/** animations */
/* fade-in-out animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* bigger on hover */
.animBigger {
  transition: all 0.2s ease-in-out;
}
.animBigger:hover {
  transform: scale(1.15);
}

/* moves up on hover */
.animHigher {
  transition: all 0.2s ease-in-out;
  box-shadow: 0.44rem 0.44rem 0.44rem rgba(0, 0, 0, 0.195);
}
.animHigher:hover {
  transform: translateY(-10px);
  box-shadow: 0.625rem 1rem 0.3rem rgba(0, 0, 0, 0.111);
}
