:root {
  --green: #82d800;
  --dark-green: #6cb400;
  --even-darker-green: #0c5600;
  --light-green: #e0ffd9;
  --red: #c73c3c;
  --light-red: #de8787;
  --white: #f4f4f4;
  --grey: #d4d4d4;
}

.success {
  color: var(--dark-green);
}
.error {
  color: var(--red);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Outfit", sans-serif;
}

p,
span,
li {
  font-family: "IBM Plex Sans", sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  background-color: var(--white);
  /* background: var(--green);
  background: linear-gradient(335deg, var(--green) 0%, #d0edca 51%, #fff 100%); */
}

#app {
  min-height: 100vh;
}

.component {
  border-radius: 1rem;
}

/** animations */
/* background colors changing */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* fade-in-out animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* bigger on hover */
.animBigger {
  transition: all 0.2s ease-in-out;
}
.animBigger:hover {
  transform: scale(1.15);
}

/* moves up on hover */
.animHigher {
  transition: all 0.2s ease-in-out;
  box-shadow: 0.44rem 0.44rem 0.44rem rgba(0, 0, 0, 0.132);
}
.animHigher:hover {
  transform: translateY(-10px);
  box-shadow: 0.625rem 1rem 0.3rem rgba(0, 0, 0, 0.076);
}

@media screen and (max-width: 400px) {
  body,
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
  body,
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body,
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1023px) {
  body,
  html {
    font-size: 16px;
  }
}
